<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Milestone</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content layout="row" style="padding: 20px">
      <form name="milestoneForm"  flex="50">

        <div class="form-group" layout="column">

          <md-input-container>
            <label>Nome do milestone</label>
            <input class="form-control" autocomplete="off" placeholder="Milestone" ng-model="milestoneController.milestone.name" required="true"/>
            <div ng-messages="invitation.email.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Descrição</label>
            <input class="form-control" autocomplete="off" placeholder="Descrição" ng-model="milestoneController.milestone.notes"/>
          </md-input-container>

          <div layout="row">
            <!--//TODO MAX DATE MIN DATE-->
            <!--//MAX - milestoneController.milestone.finalDate-->
            <!--//MIN - milestoneController.project.initialDate-->
            <md-datepicker max-date="milestoneController.milestone.finalDate"
                           ng-model="milestoneController.milestone.initialDate"
                           md-placeholder="Início">
            </md-datepicker>
            <!--// MAX - milestoneController.project.finalDate-->
            <!--// MIN - milestoneController.project.initialDate-->
            <md-datepicker ng-model="milestoneController.milestone.finalDate"
                           md-placeholder="Término">
            </md-datepicker>
          </div>

        </div>

      </form>
      <div flex="50" style="border: solid #99a599 1px; padding: 20px">
        <h3>Associar Atividades</h3>

        <div ng-repeat="activity in milestoneController.project.activities" layout="row">

          <md-checkbox ng-model="activity.selected"></md-checkbox>
          <p>{{ activity.name }}</p>

        </div>
        <div ng-repeat="milestone in milestoneController.project.milestones">

          <div ng-repeat="activity in milestone.activities" layout="row" ng-if="milestone.name != milestoneController.milestone.name">

            <md-checkbox ng-model="activity.selected"></md-checkbox>
            <p>{{ activity.name }}</p>

          </div>

        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="milestoneController.cancel()" >
        Cancelar
      </md-button>
      <md-button ng-click="milestoneController.closeOk(milestoneController.milestone)" style="margin-right:20px;" >
        OK
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
