<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Milestone</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; padding: 20px">
      <form name="milestoneForm">

        <div class="form-group" layout="column">

          <md-input-container>
            <label>Nome do milestone</label>
            <input class="form-control" autocomplete="off" placeholder="Milestone" ng-model="milestone.newMilestone.name" required="true"/>
            <div ng-messages="invitation.email.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Descrição</label>
            <input class="form-control" autocomplete="off" placeholder="Descrição" ng-model="milestone.newMilestone.notes"/>
          </md-input-container>

          <div layout="row">
            <md-datepicker ng-model="milestone.newMilestone.initialDate" md-placeholder="Início"></md-datepicker>
            <md-datepicker ng-model="milestone.newMilestone.finalDate" md-placeholder="Término"></md-datepicker>
          </div>

        </div>

      </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="milestone.cancel()" >
        Cancelar
      </md-button>
      <md-button ng-click="milestone.closeOk(milestone.newMilestone)" style="margin-right:20px;" >
        OK
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
