<md-dialog style="min-width : 800px">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Log do projeto</h2>


        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; padding: 20px">
      <div name="invitationForm">

        <md-input-container style="width: 90%">
          <label>Filtre por Usuário, tipo de ação, nome da atividade, nome do milestone, status do projeto</label>
          <input class="form-control" placeholder="Log" ng-model="logController.filter"/>
        </md-input-container>

        <div class="form-group" layout="column">
          <div ng-repeat="log in logController.log | filter: logController.filter">

            {{log.description}} em {{log.created | date:"dd/MM:yyyy - hh:mm"}}

          </div>


        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">

      <span flex></span>

      <md-button ng-click="logController.close()" style="margin-right:20px;" >
        FECHAR
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
