<md-content layout="column" layout-fill flex>


  <md-button ng-click="main.newProjectModal($event, main.projects)">Novo projeto</md-button>

    <md-grid-list  layout="row" layout-align="center start"
                   style="padding-left: 5%; padding-top: 20px"

                   md-cols-gt-md="4" md-cols-md="3" md-cols-sm="2" md-cols="1"
                   md-row-height-gt-md="4:3" md-row-height="4:3"
                   md-gutter="10px">

                   <!--md-cols-gt-md="4" md-cols-md="3" md-cols-sm="1"-->
                   <!--md-row-height="4:3"-->
                   <!--md-gutter="10px" >-->



        <md-grid-tile ng-repeat="project in main.projects" >

          <!--ng-click="main.openProject(project.id)"-->
            <md-content style="padding:10px; height: 200px; width: 270px" ng-click="main.openProject(project.id)" class="md-whiteframe-6dp" >
                <div layout="row">
                  <h2>{{project.name}}</h2>

                  <md-select ng-model="project.status" style="margin: 0" ng-click="$event.stopPropagation();">
                    <md-option ng-value="status.id" ng-repeat="status in main.status">
                      <div layout="row">
                        <div ng-style="{'background-color': status.color}"
                             style="border-radius: 50%; height: 17px; width: 17px;"></div>
                        <p style="margin: 0 0 0 10px">{{status.description}}</p>
                      </div>
                    </md-option>
                  </md-select>

                </div>
                <md-divider></md-divider>
                <p>{{project.projectManager.name}}</p>
                <p>{{project.startDate | date:'dd/MM/yyyy'}} - {{project.finalDate | date:'dd/MM/yyyy' }}</p>
                <md-progress-linear md-mode="determinate" ng-value="{{project.id * 15}}"></md-progress-linear>

            </md-content>
        </md-grid-tile>
    </md-grid-list>

    <div flex></div>
</md-content>
