<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>membros de project {{members.project}}</h2>
        <span flex></span>
        <!--<md-button class="md-icon-button" ng-click="cancel()">-->
          <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
        <!--</md-button>-->
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <h1>MANAGER MEMBERS</h1>
    </md-dialog-content>
    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="members.answer('not useful')" >
        Not Useful
      </md-button>
      <md-button ng-click="members.answer('useful')" style="margin-right:20px;" >
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
