<md-dialog aria-label="manage members">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Membros do projeto</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;min-width:500px;">


      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Gerenciar membros">
          <md-content class="md-padding">
            <div ng-repeat="user in members.members">
              <div layout="row">

                <p>{{user.name}}</p>
                <div flex></div>
                <md-button class="md-primary" ng-click="milestone.disabledMember()">Desassociar</md-button>

              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Adicionar membros">
          <md-content class="md-padding">
            <div ng-repeat="user in members.users">
              <div layout="row">
                <md-checkbox ng-model="user.selected">
                  <p>{{user.name}}</p>
                </md-checkbox>

              </div>
            </div>
           </md-content>
        </md-tab>
      </md-tabs>

    </md-dialog-content>
    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="members.answer('not useful')" >
        Cancelar
      </md-button>
      <md-button ng-click="members.answer()" style="margin-right:20px;" >
        Concluir
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
