
<md-content layout="column" layout-fill flex style="padding: 0 0 0 20px">


  <h1>{{project.project.name}} </h1>

  <div flex-offset="80">
    <!--<md-button class="md-raised md-primary" ng-click="project.log=true"> LOG </md-button>-->


    <md-button ng-click="project.manageMembers($event, project.project)">Gerenciar membros</md-button>
    <md-button ng-click="project.addActivity($event, project.project)">Gerenciar atividades </md-button>
    <md-button ng-click="project.manageMilestone($event)">Gerenciar eMilestone </md-button>
  </div>


  <div layout="row">


    <div flex>

      <div ng-repeat="activity in project.project.activities">

        <!--<md-subheader class="md-no-sticky">{{milestone.name}}</md-subheader>-->

        <md-list-item>
          <!--<md-checkbox ng-model="activity.selected"></md-checkbox>-->
          <p>{{activity.name}} - {{activity.milestone.name}}</p>
          <md-button class="md-primary">teste</md-button>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </div>

<!--
    <div flex="20" ng-if="project.teste" style="background: blue">
      <h3>Anotações da atividade</h3>
      <div ng-repeat="note in ['1','2','3' ]">
        {{note}}
      </div>
    </div>
    <div flex="20" ng-if="project.log" style="background: red">
    </div>

-->


  </div>


</md-content>
