<md-content layout="column" layout-fill flex>



  <h1>PROJETO {{project | json}}</h1>

  <md-button ng-click="project.manageMembers($event, project)">Gerenciar membros</md-button>


  <md-list ng-cloak>

    <md-subheader class="md-no-sticky">Single Action Checkboxes</md-subheader>
    <md-list-item ng-repeat="topping in toppings">
      <p> {{ topping.name }} </p>
      <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>


</md-content>
