<md-content layout="column" layout-fill flex style="padding: 25px 20px 20px 20px">

  <div layout="row">

    <h2> {{project.project.name}} </h2>

    <md-select aria-label="status"
               ng-disabled="project.project.projectManager.id != project.userLogged.id"
               ng-model="project.project.status"
               ng-change="project.updateProjectStatus( project.project )" style="margin: 0 20px 0 30px">
      <md-option ng-value="status.name" ng-repeat="status in project.status track by $index">
        <div layout="row">
          <div ng-style="{'background-color': status.color}"
               style="border-radius: 50%; height: 17px; width: 17px;"></div>
          <p style="margin: 0 0 0 10px">{{status.label}}</p>
        </div>
      </md-option>
    </md-select>
    <div flex></div>

    <div layout="row">
      <p> Gerente do Projeto: </p>


      <md-input-container>
        <md-select  aria-label="Gerente de projeto"
                    ng-model="project.project.projectManager"
                    ng-disabled="project.project.projectManager.id != project.userLogged.id"
                    ng-change="project.updateProjectStatus( project.project )">
          <md-option ng-value="user"
                     ng-selected="project.project.projectManager ? user.id == project.project.projectManager.id : null"
                     ng-repeat="user in project.project.members">
            {{user.name}}
          </md-option>
        </md-select>
      </md-input-container>

    </div>


  </div>
  <div layout="row">
    <p> Data de Início </p>
    <p style="font-weight: bold; margin-left: 15px">{{project.project.initialDate | date:'dd/MM/yyyy'}}</p>
    <p style="margin-left: 30px;"> Data de Término </p>
    <p style="font-weight: bold; margin-left: 15px">{{project.project.finalDate | date:'dd/MM/yyyy'}}</p>

    <div flex></div>
    <md-button class="md-raised md-primary"
               ng-if="project.project.projectManager.id == project.userLogged.id"
               ng-click="project.manageMembers($event, project.project)">
      Gerenciar usuários
    </md-button>
    <md-button class="md-raised md-primary"
               ng-if="project.project.projectManager.id == project.userLogged.id"
               ng-click="project.manageActivity($event, project.project, null, project.milestones)">
      Criar atividade
    </md-button>
    <md-button class="md-raised md-primary"
               ng-if="project.project.projectManager.id == project.userLogged.id"
               ng-click="project.manageMilestone($event,project.project)">
      Criar milestone
    </md-button>

  </div>

  <md-divider></md-divider>

  <h3> Atividades do Projeto </h3>


  <div layout="row">

    <div flex>

      <div ng-repeat="activity in project.project.activities" ng-if="project.project.activities.length" layout="row">
        <md-checkbox ng-model="activity.status" ng-disabled="!activity.owner" aria-label="done" ng-change="project.updateActivity( activity )"></md-checkbox>
        <div layout="row">
          <p>{{activity.name }}</p>

          <md-input-container>
            <label>Responsável</label>
            <md-select ng-model="activity.owner"
                       aria-label="Responsavel da atividade"
                       ng-change="project.updateActivity( activity )">
              <md-option ng-value="user"
                         ng-selected="activity.owner ? user.id == activity.owner.id : null"
                         ng-repeat="user in project.project.members">
                {{user.name}}
              </md-option>
            </md-select>
          </md-input-container>

        </div>

        <div flex></div>

        <md-button class="md-primary md-raised"
                   ng-click="project.manageActivity($event, project.project, activity, project.milestones)">
          Editar
        </md-button>
        <md-button class="md-primary md-raised" ng-click="project.removeActivity($event, project.project, activity)">
          Remover
        </md-button>
        <md-button class="md-primary md-raised" ng-if="project.activityId != activity.id" ng-click="project.showInfo(activity.id)">
          Visualizar log
        </md-button>
        <md-button class="md-primary md-raised" ng-if="project.activityId == activity.id" ng-click="project.closeInfo()">
          Fechar anotações
        </md-button>
      </div>

      <div style="border: 1px solid black; height:60px;" layout layout-align="center center"
           ng-if="!project.project.activities.length">
        <span> O Projeto não possui atividades sem milestone</span>
      </div>

      <md-divider></md-divider>

      <h3> Milestones do Projeto </h3>

      <div ng-repeat="milestone in project.project.milestones" ng-if="project.project.milestones.length">


        <md-subheader class="md-no-sticky">
          <div>

            <div layout="row" style="margin-bottom: 10px;">
              <h2>
                {{milestone.name}}
              </h2>
              <div layout="row" style="margin-top: 5px; margin-left: 30px;">
                <p> Data de Início </p>
                <p style="font-weight: bold; margin-left: 15px">{{milestone.initialDate | date:'dd/MM/yyyy'}}</p>
                <p style="margin-left: 30px;"> Data de Término </p>
                <p style="font-weight: bold; margin-left: 15px">{{milestone.finalDate | date:'dd/MM/yyyy'}}</p>
              </div>
              <div flex></div>
              <md-button class="md-primary md-raised" ng-click="project.manageMilestone($event,project.project, milestone )">
                Editar
              </md-button>
              <md-button class="md-primary md-raised" ng-click="project.removeMilestone($event,project.project, milestone )">
                Remover
              </md-button>

            </div>
            <div ng-if="milestone.notes">
              <p> Observação do Milestone</p>
              <p>
                {{milestone.notes}}
              </p>
            </div>

          </div>

        </md-subheader>

        <div ng-repeat="activity in milestone.activities | orderBy: 'name'" ng-if="milestone.activities.length"
             layout="row">

          <md-checkbox ng-model="activity.status" ng-disabled="!activity.owner" aria-label="done" ng-change="project.updateActivity( activity )"></md-checkbox>

          <div layout="row">
            <p>{{activity.name }}</p>

            <md-input-container>
              <label>Responsável</label>
              <md-select ng-model="activity.owner"
                         aria-label="Responsavel da atividade"
                         ng-change="project.updateActivity( activity )">
                <md-option ng-value="user"
                           ng-selected="activity.owner ? user.id == activity.owner.id : null"
                           ng-repeat="user in project.project.members">
                  {{user.name}}
                </md-option>
              </md-select>
            </md-input-container>

          </div>

          <div flex></div>

          <md-button class="md-primary md-raised" ng-click="project.manageActivity($event, project.project, activity, milestone)">
            Editar
          </md-button>
          <md-button class="md-primary md-raised" ng-click="project.removeActivity($event, project.project, activity, milestone)">
            Remover
          </md-button>
          <md-button class="md-primary md-raised" ng-if="project.activityId != activity.id" ng-click="project.showInfo(activity.id)">
            Visualizar log
          </md-button>
          <md-button class="md-primary md-raised" ng-if="project.activityId == activity.id" ng-click="project.closeInfo()">
            Fechar anotações
          </md-button>

        </div>
        <div style="padding: 0px 20px 0px 20px;">
          <div style="border: 1px solid black; height:60px;" layout layout-align="center center"
               ng-if="!milestone.activities.length">
            <span> O Milestone {{milestone.name}} não possui atividades</span>
          </div>
        </div>

        <md-divider></md-divider>
      </div>
      <div style="border: 1px solid black; height:60px;" layout layout-align="center center"
           ng-if="!project.project.milestones.length">
        <span> O Projeto não possui milestones</span>
      </div>

      <!---->

    </div>

    <div ng-if="project.info" flex="40" style="border:solid 2px #25caff; margin-top: -60px;">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Comentários">

          <div>
            <md-input-container style="width: 75%">
              <label>Novo comentário</label>
              <input aria-label="Anotação" class="form-control" placeholder="Novo comentário" ng-model="project.newAnnotation.note"/>
            </md-input-container>

            <md-button class="md-raised md-primary" ng-click="project.saveAnnotation( project.newAnnotation)">
              Salvar
            </md-button>

          </div>

          <md-content style="border:solid 2px #4cd8ff;">
            <!--//TODO order by annotation.created-->
            <div ng-repeat="annotation in project.annotations " ng-if=project.annotations style="border:solid 2px #4cd8ff;">
              <div layout="column">

                <div layout="row">
                  <!--TODO NG DISABLED-->
                  <md-input-container ng-disabled="!annotation.edit" style="width: 75%">
                    <input class="form-control" ng-model="annotation.note"/>
                  </md-input-container>
                  <div flex></div>
                  <div ng-if="annotation.createdBy.id == project.userLogged.id">
                    <md-button class="md-raised md-primary" ng-if="!annotation.edit" ng-click="annotation.edit = true">
                      Editar
                    </md-button>
                    <div ng-if="annotation.edit" layout="column">
                      <md-button class="md-raised md-primary" ng-click="project.saveAnnotation( annotation )">
                        Salvar
                      </md-button>
                      <md-button class="md-raised md-primary" ng-click="project.removeAnnotation( annotation )">
                        Excluir
                      </md-button>
                    </div>
                  </div>


                </div>


                <div layout="row">
                  <span> {{annotation.created | date:"dd-MM-yyyy hh:mm "}} </span>
                  <span> por {{annotation.createdBy.name}}</span>
                </div>

                <md-divider></md-divider>
              </div>


            </div>
            <div ng-if=!project.annotations>
              <p>Nenhuma anotação encontrada</p>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>

    </div>

  </div>


</md-content>
